.page1{
    min-height: 100vh;
    position: relative;
    z-index: 0;
    font-family: Poppins;
    color: #1E1E1E;
    background-color: #CDCDCD;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, rgba(2, 2, 2, 0.067) 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #adadadcc),
    url(bg.jpeg);
     background-size: cover;       
    background-repeat: no-repeat;   
    background-position: center; 
}
body {
    cursor: url('ZeeResizerwhite.png'), auto;
}

*{
    padding: 0;
    margin: 0;
}
html, .page1 {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: min(1200px, 90vw);
    margin: auto;
    margin-bottom: -3%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 0px;
    flex-wrap: wrap;
    animation: floatUpDown 3s ease-in-out infinite;
}

header h1{
    font-family: "Karantina" system-ui;
    font-size: 16vw;
    line-height: 0.8em;
    margin-left: -6%;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
}
header .author{
    color: rgb(255, 255, 255);
    width: 10%;
    text-align: right;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 81%;
    top: 220px;
    transform: rotate(-90deg);
}
.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner .product{
    /* background-color: red; */
    width: 210px;
    height: 400px;
    position: absolute;
    bottom: 170px;
    left: 56%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
    --left: 0px;
    display: flex;
}
.banner .product .soda{
    background: 
                var(--url) var(--left) 0,
                url(mockup.png);
    background-size: auto 100%;
    width: 200px;
    aspect-ratio: 2/4;
    background-blend-mode: multiply;
    mask-image: url(mockup.png);
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} 
.banner .product:hover{ 
    --left: -1000px;
    transform: translateX(-50%) translateY(-100px) rotate(-25deg);
}
.banner .rock {
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
}
.banner .rock img{
    position: absolute;
    transition: 0.7s; 
}
.banner .rock img:nth-child(1){
height: 170px;
left: 55%;
transform: translateX(-50%);
bottom: 35px;
}
.banner:has(.product:hover) .rock img:nth-child(1){
    transform: translateX(-50%) translateY(50px);
}
.banner .rock img:nth-child(2){
    height: 50%;
    left: 0;
    bottom: 0;
    z-index: -2;
}
.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(-100px) translateY(100px);
}
.banner .rock img:nth-child(3){
    height: 80%;
    left: 80%;
    bottom: 10px;
    rotate: -30deg;
    /* z-index: -2; */
}
.banner:has(.product:hover) .rock img:nth-child(3){
    transform: translateX(80px) translateY(100px);
}
.banner .product .soda:nth-child(2){
    opacity: 0;
}
.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}

.page2{
    height: 100%;
    width: 100%;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, rgba(2, 2, 2, 0.067) 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #adadadcc),
    url(bgpage2.jpg);
    background-size: cover;       
    background-repeat: no-repeat;   
    background-position: center;
}
.boldtext{
    --row: 6;
    font-size: 7.7em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.boldtext div:nth-child(1){
    position: relative;
    left: 26%;
}
.boldtext div:nth-child(2){
    position: relative;
    left: 42%;
}
.boldtext div:nth-child(3){
    position: relative;
    left: 22%;
}
.boldtext div:nth-child(4){
    position: relative;
    left: 37%;
}
.boldtext div:nth-child(5){
    position: relative;
    left: 18%;
}

.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

#gojocan img{
    width: 10%;
    height: 40%;
    position: absolute;
    left: 6%;
    bottom: -470px;
    transform: rotate(10deg);
}
#gojocan img:hover{
    animation: bounce 0.5s ease;
}
#luffy img{
    width: 15%;
    height: 34%;
    position: absolute;
    right: 4%;
    bottom: -730px;
    animation: breathe 2s ease-in-out infinite;
}

.page3{
    height: 100%;
    width: 100%;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, rgba(2, 2, 2, 0.067) 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #adadadcc),
    url(bgpage2.jpg);
    background-size: cover;       
    background-repeat: no-repeat;   
    background-position: center;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 24%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 7s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-17deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0;
    
    transform: 
        rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
        translateZ(430px);

    backface-visibility:hidden;
}


.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
    position: absolute;
    bottom: 100;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16em;
    line-height: 1em;
    color: #2b1b3e;
    position: relative;
    background-color: rgb(131, 133, 133);
    top: -100px;
    left: 40px;
    border-radius: 20px;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}
.banner .content .author{
    font-family: Poppins;
    text-align: left;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
.banner .content .model{
    background-image: url(gojo_can.png);
    width: 100%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    animation: floatUpDown 2s ease-in-out infinite;
    z-index: 1;
}

.page4{
    height: 100%;
    width: 100%;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, rgba(2, 2, 2, 0.067) 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #adadadcc),
    url(bgpage2.jpg);
    background-size: cover;       
    background-repeat: no-repeat;   
    background-position: center;
}
.text-content{
    border: 2px solid black;
    width: 65%;
    height: 80%;
    position: relative;
    left:29%;
    bottom: -70px;
}
.text-content h1{
    text-align: center;
}
.text-content p:nth-child(1){
    text-align: left;
}
.text-content p:nth-child(2){
    text-align: right;
}








@keyframes breathe {
    0%,100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.15);
        opacity: 0.9;
    }
}

@keyframes bounce{
    0%{ transform: rotate(10deg);}
    30%{transform: rotate(-10deg);}
}

@keyframes autoBlurAnimation{
    0%{
        filter: blur(30px);
    }45%,55%{
        filter: blur(0px);
    }
    100%{
        filter: blur(30px);
    }
}
@keyframes floatUpDown{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}